parameters:
    checkExplicitMixedMissingReturn: true
    checkPhpDocMissingReturn: true
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Call to an undefined method Magento\\Quote\\Model\\Quote\\Address\\RateResult\\Method::getPrice\(\).#'
