<?xml version="1.0"?>
<!--
/**
 * Copyright © Karliuka Vitalii(karliuka.vitalii@gmail.com)
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <shipping>
            <behavior>
                <tweaks>1</tweaks>
                <all_free_methods>1</all_free_methods>
                <specific_methods>freeshipping_freeshipping</specific_methods>
            </behavior>
        </shipping>
    </default>
</config>
