<?xml version="1.0"?>
<!--
/**
 * Copyright © 2011-2018 Karliuka Vitalii(karliuka.vitalii@gmail.com)
 * 
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
	<!--
	plugin
	-->		
    <type name="\Magento\Shipping\Model\Rate\Result">
        <plugin name="Faonni_ShippingTweaks" type="Faonni\ShippingTweaks\Plugin\Shipping\Model\Rate\Result" />
    </type>
</config>
